# Deployment configuration
RPC_URL=""
PRIVATE_KEY=0x

# DAO Contracts
PCCS_STORAGE=
ENCLAVE_ID_DAO=
FMSPC_TCB_DAO=
PCK_DAO=
PCS_DAO=

# On-Chain PCCS Helper Contracts
ENCLAVE_IDENTITY_HELPER=
FMSPC_TCB_HELPER=
X509_CRL_HELPER=
X509_HELPER=