# Compiler files
cache/
out/

# Ignores all broadcast logs
broadcast/

# Dotenv file
.env

# Ignore development deployment files
deployment/31337.json
deployment/33611633.json

# Misc
**/.DS_Store
**/node_modules/
**/keystore/
**/.vscode