[profile.default]
src = "src"
out = "out"
libs = ["lib"]

fs_permissions = [{ access = "read-write", path = "./"}]
ffi = true

solc = "0.8.27"
optimizer = true
optimizer_runs = 999999
# https://github.com/foundry-rs/foundry/issues/6780
via_ir = true
evm_version = "paris"

# https://github.com/foundry-rs/foundry/issues/6780#issuecomment-1962319449
# auto_detect_remappings = false
# bytecode_hash = "none"
# cbor_metadata = false
# sparse_mode = false

[etherscan]
base_sepolia = { key = "${ETHERSCAN_API_KEY}" }
hoodi = { key = "${ETHERSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
optimism_sepolia = { key = "${ETHERSCAN_API_KEY}" }
arbitrum_sepolia = { key = "${ETHERSCAN_API_KEY}" }
world_sepolia = { key = "${ETHERSCAN_API_KEY}" }
bsc_testnet = { key = "${ETHERSCAN_API_KEY}" }
polygon_amoy = { key = "${ETHERSCAN_API_KEY}", chain = 80002 }
unichain_sepolia = { key = "${ETHERSCAN_API_KEY}", chain = 1301 }
mainnet = { key = "${ETHERSCAN_API_KEY}" }
base = { key = "${ETHERSCAN_API_KEY}" }
optimism = { key = "${ETHERSCAN_API_KEY}" }
arbitrum = { key = "${ETHERSCAN_API_KEY}" }
world = { key = "${ETHERSCAN_API_KEY}" }
bsc = { key = "${ETHERSCAN_API_KEY}" }
polygon_pos = { key = "${ETHERSCAN_API_KEY}" }
megaeth_mainnet = { key = "${ETHERSCAN_API_KEY}", chain = 4326 }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options