{
  "1": "https://eth-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "10": "https://opt-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "56": "https://bsc-dataseed.bnbchain.org",
  "97": "https://bsc-testnet-dataseed.bnbchain.org",
  "130": "https://unichain-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "137": "https://polygon-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "480": "https://worldchain-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "998": "https://hyperliquid-testnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "999": "https://hyperliquid-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "1301": "https://unichain-sepolia.g.alchemy.com/v2/<YOUR_API_KEY>",
  "4326": "https://mainnet.megaeth.com/rpc",
  "4801": "https://worldchain-sepolia.gateway.tenderly.co",
  "6343": "https://megaeth-testnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "8453": "https://base-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "42161": "https://arb-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "42429": "https://tempo-testnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "43113": "https://api.avax-test.network/ext/bc/C/rpc",
  "43114": "https://avax-mainnet.g.alchemy.com/v2/<YOUR_API_KEY>",
  "65536": "https://1rpc.io/ata",
  "80002": "https://polygon-amoy.g.alchemy.com/v2/<YOUR_API_KEY>",
  "84532": "https://base-sepolia.g.alchemy.com/v2/<YOUR_API_KEY>",
  "421614": "https://arb-sepolia.g.alchemy.com/v2/<YOUR_API_KEY>",
  "560048": "https://eth-hoodi.g.alchemy.com/v2/<YOUR_API_KEY>",
  "1398243": "https://1rpc.io/ata/testnet",
  "11155111": "https://eth-sepolia.g.alchemy.com/v2/<YOUR_API_KEY>",
  "11155420": "https://opt-sepolia.g.alchemy.com/v2/<YOUR_API_KEY>"
}
